<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="static/images/Logo.ico">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <title>MercepandOS</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mercy.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

<div class="wrapper">
    <div class="toast success">
        <div class="container-1">
            <i class="fas fa-fire"></i>
        </div>
        <div class="container-2">
            <p>Press F11 for better scrolling !</p>
        </div>
    </div>
</div>

</head>

<body>



<!-- down heover navbar -->
<div class="menu">
    <div class="label">Return</div>
    <div class="spacer"></div>
    <div class="item"><span onclick="window.location.href='http://127.0.0.1:5000';" >Home</span></div>

</div>
<!-- down heover navbar end -->
<!----hero Section start---->
    <div class="hero">
        <nav data-aos="flip-down">
            <h2 class="logo" >Merc<span>edes</span></h2>
        </nav>
            <div class="content-text" style="position:relative;top:-20px;">
                <div class="animation">
                    <h3 class="forth" style="position:relative; right:-300px ;top:50px;">Demo of anlaysing</h3>
                    <h1 class="first" style="position:relative; top:140px;">Panads <span class="slide"><span class="second">Mercedes</span></span>
                    </h1>
                    <h3 class="third" style="position:relative; top:200px; right:200px;">Just Trying</h3>
                    <!--button onclick="window.location.href='#about'"  class="fifth" type="button" style = "left:-610px;  position:relative; top:260px;" >Let's Talk</button -->
                </div>
            </div>
    </div>
            <!--- scrolldown button -->
            <a href="#about">
                <div class="icon-scroll"></div>
            </a>


<!----About section start---->

<section class="about" id="about">
        <div class="main" id="about-first" data-aos="fade-down-left">
            <img src="static/images/drawings/Model year mercedes.png">
            <div class="about-text" data-aos="fade-in">
                <h2>Model Year</h2>
                <h5><span>2010-2011</span></h5>
                <p>Without exaggeration, during this period the Mercedes company produced its best in the automotive industries confined in the years 2011 and 2011. It excelled in all kinds, the family car, the sports car and even the vernacular. Below we show you the advantages of the cars of this period
                </p>
            </div>
        </div>
</section>


<section class="about-1">
    <div class="main" data-aos="slide-up">
            <img src="static/images/drawings/Mercedes-dimension-m.png">
        <div class="about-text">
            <h2>Diminsion mercedes</h2>
            <h5><span>2010-2011</span></h5>
                <p>As can be seen here, the Mercedes company focuses on width diminsions so that it creates space for the
                driver and passengers to feel comfortable, and this is seen in its design for Class E/C/S and Maybach
                series, and it may be one of the best companies that innovate in interior design, we also see that its
                focus is divided Also at heights diminsion, since Mercedes cars are characterized by medium height, as
                most of their cars have the same height, but this differs in diminsion length dimensions, this dimension
                we see only in super cars .</p>
        </div>
    </div>
</section>

<section class="about-2" id="about-2">
    <div class="main" data-aos="zoom-in">
        <img src="static/images/drawings/engins.png">
        <div class="about-text">
            <h2>Mercedes Engine</h2>
            <h5><span>2010-2011</span></h5>
            <p>On the one hand,Mercedes is trying to add a balance between statistic torque and Horsepower,which gives
                it strength, speed and flexibility, you may notice a difference in the E-class, GL-class and R-class
                models,these models the company focused on statistic torque More than horsepower ,
                because it's family oriented, why would you make it fast ?
            </p>
        </div>
    </div>
</section>


<section class="about-3">
    <div class="main" data-aos="flip-up">
        <img src="static/images/drawings/forwards gas.png">
        <div class="about-text">
            <h2>Fuel</h2>
            <h5><span>2010-2011</span></h5>
            <p>The car delivers just 18 mpg city and 35 mpg highway, which makes it even better.In terms of competition,
                what makes it economical and distinctive...</p>
        </div>

    </div>
</section>


<section class="about-4">
    <div class="main" data-aos="fade-up-right">
        <img src="static/images/drawings/Transmition.png">
        <div class="about-text">
            <h2>Transition and gears</h2>
            <h5><span>2010-2011</span></h5>
            <p>At the moment, Mercedes has only 22 models with manual transmission out of a total of 240 which mean less than 10%.
                If there were no compact range, Mercedes would have only two models with manual transmission,
                Merc is also making a big song and dance - a world premiere, no less - of its Magic Sky Control.
            </p>
        </div>
    </div>
</section>

<!------footer start--------->
<footer>
    <p data-aos="fade-down">I just wanna say</p>
    <p data-aos="fade-up">Everything you see here has been done behind the scenes, and this is just a showcase for the library panda and matplotib</p>

    <div class="social" data-aos="zoom-in" data-aos-duration="1500">
        <a href="https://www.facebook.com/zuck"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/elonmusk"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-dribbble"></i></a>
    </div>
    <p class="end">CopyRight By Me</p>
</footer>

<!-- animation css aos library -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<!-- background music html -->
<audio id="scary-music"
       src="static/music/MAFIA Aggressive Mafia Trap Rap Beat Instrumental Mafya Mzii Prod by Pasha Music.mp3"></audio>

<script src="https://dipeshdhakal.com/script/root.js"></script>

<!-- aos library -->
<script>
    Red.ready(function () {
        var music = "on";
        Root.initialize(music);
    });
</script>

</body>
</html>